{% extends 'base.html.twig' %}

{% block title %}Gestion des locataires{% endblock %}

{% block assets %}<script src={{ asset("assets/js/locataire.js") }}></script>{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>Gestion des locataires <a type="button" class="btn btn-green" href="{{ path('app_register') }}">Nouveau locataire</a></h1>
                <table id="myTable" class="table table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Nombre de locations</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for locataire in locataires %}
                        {% if locataire.roles == ["ROLE_TENANT"]  %}
                            <tr>
                                <td><strong>{{ locataire.id }}</strong></td>
                                <td>{{ locataire.lastName }}</td>
                                <td>{{ locataire.firstName }}</td>
                                <td>{{ locataire.rents.count }}</td>
                                <td>
                                    <a href="{{ path('app_locataire_edit', {'id': locataire.id}) }}" type="button" class="btn btn-secondary">Mettre à jour les données</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
