{% extends 'base.html.twig' %}

{% block title %}Gestion des mandataires{% endblock %}

{% block assets %}
    <script src={{ asset("assets/js/mandataire.js") }}></script>{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <h1>Gestion des mandataires <a type="button" class="btn btn-green" href="{{ path('app_register_mandataire') }}">Nouveau mandataire</a></h1>
                <table id="myTable" class="table table-striped" style="width:100%">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Nombre de locations gérés</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mandataire in mandataires %}
                        {% if mandataire.roles == ["ROLE_REPRESENTATIVE"] %}
                            <tr>
                                <td><strong>{{ mandataire.id }}</strong></td>
                                <td>{{ mandataire.lastName }}</td>
                                <td>{{ mandataire.firstName }}</td>
                                <td>{{ mandataire.rents.count }}</td>
                                <td>
                                    <a href="{{ path('app_mandataire_edit', {'id': mandataire.id}) }}" type="button"
                                       class="btn btn-secondary">Mettre à jour les données</a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
