{% extends 'base.html.twig' %}

{% block title %}Residence{% endblock %}

{% block body %}
    <h1>Residence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ residence.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ residence.name }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ residence.address }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ residence.city }}</td>
            </tr>
            <tr>
                <th>ZipCode</th>
                <td>{{ residence.zipCode }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ residence.country }}</td>
            </tr>
            <tr>
                <th>InventoryFile</th>
                <td>{{ residence.inventoryFile }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_residence_index') }}">back to list</a>

    <a href="{{ path('app_residence_edit', {'id': residence.id}) }}">edit</a>

    {{ include('residence/_delete_form.html.twig') }}
{% endblock %}
